PORT=8000
DEBUG=True

S3_BUCKET=media.isl.co
OG_TITLE=A digital agency founded on invention.
OG_DESCRIPTION=ISL invents digital &amp; physical experiences for the world’s biggest brands. Our designers, developers, marketers and makers build everything from apps, to connected devices, to wildly creative campaigns that reach audiences globally. Take a look for yourself!
REDIRECT_URL=https://isl.co

SECRET_KEY=notasecret
